@charset "UTF-8";

/*step_area*/
.step_area {
    display: flex;
    column-gap: 35px;
    justify-content: center;
    margin-top: 80px;
}

.step_block {
    width: 150px;
    height: 100px;
    border: 3px solid #778899;
    padding: 5px 35px;
    text-align: center;
}

.step_block p {
    font-size: 18px;
    color: #778899;

}

/*form_area*/
form {
    margin-top: 100px;
}

label {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

label p {
    color: #D11C2C;
    border: 1px #D11C2C solid;
    padding: 5px;
}

input {
    width: 700px;
    height: 20px;
    padding: 3px;
}

dt {
    width: 200px;
    display: flex;
    column-gap: 10px;
}

.textarea {
    align-items: start;

}

#textarea {
    width: 704px;
    height: 200px;
    white-space: revert;

}

.submit_btn {
    text-align: center;
    margin: 50px 0px;
}

button {
    width: 600px;
    margin: 0 auto;
    background-color: #778899;
    color: #fff;
    padding: 3px;
    border: none;
    border-radius: 40px;
    position: relative;
    height: 55px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.submit_btn:hover {
    opacity: 0.7;
}

button p {
    font-size: 18px;
}

button p::after {
    content: url(../img/arrow_icon.png);
    position: absolute;
    right: 10%;
    top: 23%;
}
@media screen and (max-width: 767px) {
    .step_block{
        width: 100px;
        height: auto;
        border: 3px solid #778899;
        padding: 5px 15px;
        text-align: center;
    }
    label {
        display: block;
    }
    input {
        width: 300px;
    }
    #textarea {
        width: 300px;
    }
    button {
        width: 300px;
    }
}
